<!--   list system values  screen display  -->

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
        <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-8 col-lg-9 panel panel-default padding-left-zero">
        <div class="panel-heading section-padding">
            <h3 class="panel-title">
                <fa class="arrow-color" name="chevron-left" size='0.5x' (click)='back()'> </fa>System Values for {{code}}</h3>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3 align-right">
        <app-button (click)='navigateAddNewValue()' label='Add New Value' styleClass='button-outline'></app-button>
    </div>

</div>

<div class="row gridPadding">
    <div class="col.sm-12 col-md-12 col-lg-12 padding-zero">
            <p-growl [(value)]="msgs" [life]="3000"></p-growl>
    </div>   
    <div class="toolbar" *ngIf="systemvaluelabelList && systemvaluelabelList.length > 0">
        <img class="imgAlign pull-right" (click)="lsv.exportCSV()" src="./assets/icon-excel-export.png" alt= "Export the Excel.png">
         </div>
    <p-table #lsv [columns]="systemvaluelabelList" [value]="sytemvaluedatalist" [responsive]="true" [paginator]="isPaginator"
        [rows]="selectedRows" [alwaysShowPaginator]="false" [exportFilename]="this.exportFileName + '-' + this.code">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="float:left">

                </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                    {{col.header}}
                    <p-sortIcon *ngIf="col.field !== 'action' " [field]="col.field"></p-sortIcon>
                </th>
            </tr>
            <tr *ngIf="filterable && systemvaluelabelList && systemvaluelabelList.length > 0">
                <th *ngFor="let col of columns">

                    <input *ngIf="col.field !== 'action'" pInputText type="text" placeholder="Filter" (input)="lsv.filter($event.target.value, col.field, col.filterMatchMode)">

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="col.field == 'action'; else elseTemplate">
                        <div class="row">
                            <div class="col-sm-5 col-md-5 col-lg-5">                                
                                <a class="hyperlink" (click)="delete(rowData['valueId'])">Delete {{rowData[rowIndex]}}</a>
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">                                
                                <a class="hyperlink" (click)="update(rowData)">Update</a>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        {{rowData[col.field]}}
                    </ng-template>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorright" let-state>
            <div class="grid-page-dropdown">
                <app-dropdown [datasource]='displayRows' (selectedItemChange)='checkAndEnablePage($event)' [selectedItem]='selectedRows'></app-dropdown>
            </div>
        </ng-template>
    </p-table>
    <div *ngIf="!isPaginator" class="pageAlign">
        <div class="grid-page-dropdown">
            <app-dropdown [datasource]='displayRows' (selectedItemChange)='checkAndEnablePage($event)' [selectedItem]='selectedRows'></app-dropdown>
        </div>

    </div>
    <p-confirmDialog appendTo="body"></p-confirmDialog>
    <p-dialog [header] = "dialogHeader" appendTo="body" [closable] = 'false' [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
        <app-add-system-values [isUpdate]='isUpdate' [update]= 'updateRecord' [code]= 'code' [labelList]='labelList'(closeSystemValue)='this.refresh($event)' (systemValueEvent) = 'this.messageStatus($event)'></app-add-system-values>
    </p-dialog>
    
</div>