/**  CSS Styling for the  list system values Screen **/

.paddingTopClass{
    padding-top: 10px;

}

.ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
    width: max-content;
  }

  .section-padding{
    padding-top:9px;
    margin-top: -2px;
}

.push-right {
    float: right;
}

.panel-title{
    color:#205492;
    padding-left: 21px;
    font-size: 24px;
}

.arrow-display{
   font-size: 17px;
   padding-right: 6px
}
.arrow-color{
    font-size: 17px; 
    padding-right: 6px;
    color: black;
    margin-left: -3px;
    cursor: pointer;
}

.ui-table .ui-table-thead > tr > th, .ui-table .ui-table-tbody > tr > td, .ui-table .ui-table-tfoot > tr > td {
    border: solid 1px lightgrey;
}
.toolbar {
    border: solid 1px lightgrey;
}