<form [formGroup]="addSystemCodeForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-4 paddingForm">
        <label for="Value" class="required">Value</label>
      </div>
      <div class="ui-g-8 paddingForm">
        <input class="form-control" formControlName="valueinput" [(ngModel)]='valueinput' [maxlength]="50">
      </div>
    </div>    
    <div class="ui-g-12 form-group modalForm" *ngIf="!value">
      <div class="ui-g-4 paddingForm">
        <label for="vin" class="required">GUI Label</label>
      </div>
      <div class="ui-g-8 paddingForm">
        <input class="form-control" formControlName="guilabel" [(ngModel)]='guilabel' [maxlength]="50">
      </div>
    </div>
    <div class="ui-g-12 form-group modalForm" *ngIf="!this.isUpdate">
      <div class="ui-g-4 paddingForm">
      </div>
      <div class="ui-g-8 paddingForm">
        <p-checkbox [(ngModel)]="value" binary='true' (onChange) = " this.onChangeChecked($event)" [formControl]="addSystemCodeForm.controls['checkbox']"></p-checkbox>Gui Label is same as value
      </div>
    </div>
    <div class="ui-g-12 form-group modalForm" *ngIf="this.showdepartment">
        <div class="ui-g-4 paddingForm">
          <label for="vin" class="required">User Department</label>
        </div>
        <div class="ui-g-8 textAreaPadding">
          <app-dropdown [datasource]='departments' (selectedItemChange)='this.selectedDepartments = $event' [selectedItem]='selectedDepartments'></app-dropdown>
        </div>
      </div>
    <div class="ui-g-12 form-group modalForm">
      <div class="ui-g-4 paddingForm">
        <label for="color">Description</label>
      </div>
      <div class="ui-g-8 textAreaPadding">
        <app-input-text-area rowSize='7' (inputTextAreaSelected)='this.description= $event' [value]='description' name='description' [maxlength]= 100></app-input-text-area>
      </div>
    </div>
  </div>

</form>
<p-footer>
  <div class="ui-g-4"></div>
  <div *ngIf="!this.isUpdate" class="ui-g-8 ui-dialog-buttonpane ui-helper-clearfix">
    <app-button label='Save' (click)='addSystemCode()' [disabled]='this.disable("add")' styleClass='button-action'></app-button>
    <app-button label='Cancel' (click)='back()' styleClass='button-cancel'></app-button>
  </div>
  <div *ngIf="this.isUpdate" class=" ui-g-8 ui-dialog-buttonpane ui-helper-clearfix">
    <app-button label='Save' (click)='updatesystemcodeval()' [disabled]='this.disable("update") '
      styleClass='button-action'></app-button>
    <app-button label='Cancel' (click)='back()' styleClass='button-cancel'></app-button>
  </div>
</p-footer>